/********************** Servicios **********************/

.servicios .row {
	text-align: center;
}

.servicios .row .columns {
	box-shadow: var(--box-shadow);
	border: var(--borde);
	border-bottom: 1rem solid var(--white);
	margin: 0.5rem;
}

.servicios .row .columns:hover {
	background: var(--black);
	color: var(--light-color);
	border-bottom: 1rem solid var(--black);
}

.servicios .row i {
	font-size: 3rem;
	margin-bottom: 2rem;
	color: var(--black);
}

.servicios .row .columns:hover i {
	color: var(--light-color);
}

.servicios .row .columns:hover h3 {
	color: var(--white);
}

