---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import ParticleBackground from '../components/ParticleBackground.astro';
import Hero from '../components/Hero.astro';
import AboutSection from '../components/AboutSection.astro';
import ServiceSection from '../components/ServiceSection.astro';
import ProjectSection from '../components/ProjectSection.astro';
import ContactSection from '../components/ContactSection.astro';
import ScrollToTop from '../components/ScrollToTop.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
    <Header />
    
    <ParticleBackground />
    
    <Hero />

    <main>
        <AboutSection />
        <ServiceSection />
        <ProjectSection />
        <ContactSection />
    </main>

    <ScrollToTop />
    
    <Footer />
</Layout>