---
import "../../src/styles/AboutPage.css";
import ButtonGet from "./ButtonGet.astro";
---

<section class="sobre-mi" id="sobre-mi">
    <h2 class="heading" data-i18n="about">Sobre mi</h2>

    <div class="row container">
        <div class="columns" data-aos="fade-right" data-aos-delay="300">
            <h3 data-i18n="im">Quien soy</h3>
            <h4 data-i18n="description">
                Mi nombre es ANONIMO432HZ y soy estudiante de programación y
                futuro full stack developer
            </h4>
            <p data-i18n="my-description">
                Me dedico al desarrollo web y la ciberseguridad. Estoy en
                constante aprendizaje de las tecnologías, asimismo busco
                aprender nuevas tecnologías para enriquecer mis habilidades y
                mejorar mis buenas prácticas como desarrollador.
            </p>

            <ul>
                <!--<li>
                    <p>
                        <span>GitHub:</span>
                        ANONIMO432HZ
                    </p>
                </li>-->
                <li>
                    <p>
                        <span>Intereses:</span>
                        Web Dev & Cybersecurity
                    </p>
                </li>
                <!--<li>
                    <p><span>Email:</span> usuario432hz@gmail.com</p>
                </li>-->
                <!-- -->
                <!--<li>
                    <p>
                        <span data-i18n="from">Desde:</span>
                    </p>
                </li>-->
            </ul>

            <div class="mas-info">
                <div class="mas-info-btn">
                    <a href="/about">
                        <ButtonGet />
                    </a>
                </div>
            </div>
        </div>

        <div
            class="columns col-skill"
            data-aos="fade-left"
            data-aos-delay="650"
        >
            <h3>Skills</h3>
            <h4>Front-End</h4>
            <div class="skill">
                <div>
                    <!-- Original: https://raw.githubusercontent.com/devicons/devicon/master/icons/html5/html5-original.svg -->
                    <img
                        alt="HTML"
                        class="icons-skils"
                        src="/img/skills/html5.svg"
                    />
                    <h5>HTML</h5>
                </div>
                <div>
                    <!-- Original: https://raw.githubusercontent.com/devicons/devicon/master/icons/css3/css3-original.svg -->
                    <img
                        alt="CSS"
                        class="icons-skils"
                        src="/img/skills/css3.svg"
                    />
                    <h5>CSS</h5>
                </div>
                <div>
                    <!-- Original: https://raw.githubusercontent.com/devicons/devicon/master/icons/javascript/javascript-plain.svg -->
                    <img
                        alt="Js"
                        class="icons-skils"
                        src="/img/skills/javascript.svg"
                    />
                    <h5>JavaScript</h5>
                </div>
                <div>
                    <!-- Original: https://cdn.jsdelivr.net/gh/devicons/devicon/icons/sass/sass-original.svg -->
                    <img
                        alt="Sass"
                        class="icons-skils"
                        src="/img/skills/sass.svg"
                    />
                    <h5>Sass</h5>
                </div>
                <div>
                    <!-- Original: https://cdn.jsdelivr.net/gh/devicons/devicon/icons/bootstrap/bootstrap-original.svg -->
                    <img
                        alt="Bootstrap"
                        class="icons-skils"
                        src="/img/skills/bootstrap.svg"
                    />
                    <h5>Bootstrap</h5>
                </div>
                <div>
                    <!-- Original: https://cdn.jsdelivr.net/gh/devicons/devicon/icons/jquery/jquery-plain-wordmark.svg -->
                    <img
                        alt="jQuery"
                        class="icons-skils"
                        src="/img/skills/jquery.svg"
                    />
                    <h5>jQuery</h5>
                </div>
                <div>
                    <!-- Original: https://cdn.jsdelivr.net/gh/devicons/devicon/icons/react/react-original.svg -->
                    <img
                        alt="React"
                        class="icons-skils"
                        src="/img/skills/react.svg"
                    />
                    <h5>React</h5>
                </div>
                <div>
                    <!-- Original: https://cdn.jsdelivr.net/gh/devicons/devicon/icons/typescript/typescript-original.svg -->
                    <img
                        alt="Typescript"
                        class="icons-skils"
                        src="/img/skills/typescript.svg"
                    />
                    <h5>Typescript</h5>
                </div>
            </div>

            <h4>Back-End</h4>
            <div class="skill">
                <div>
                    <!-- Original: https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nodejs/nodejs-original.svg -->
                    <img
                        alt="Nodejs"
                        class="icons-skils"
                        src="/img/skills/nodejs.svg"
                    />
                    <h5>NodeJs</h5>
                </div>
                <div>
                    <!-- Original: https://cdn.jsdelivr.net/gh/devicons/devicon/icons/express/express-original.svg -->
                    <img
                        alt="express"
                        class="icons-skils"
                        src="/img/skills/express.svg"
                    />
                    <h5>Express</h5>
                </div>
                <div>
                    <!-- Original: https://cdn.jsdelivr.net/gh/devicons/devicon/icons/php/php-original.svg -->
                    <img
                        alt="php"
                        class="icons-skils"
                        src="/img/skills/php.svg"
                    />
                    <h5>PHP</h5>
                </div>
                <div>
                    <!-- Original: https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/laravel/laravel-original.svg -->
                    <img
                        alt="laravel"
                        class="icons-skils"
                        src="/img/skills/laravel.svg"
                    />
                    <h5>Laravel</h5>
                </div>
                <div>
                    <!-- Original: https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/mysql/mysql-original-wordmark.svg -->
                    <img
                        alt="mysql"
                        class="icons-skils"
                        src="/img/skills/mysql.svg"
                    />
                    <h5>MySQL</h5>
                </div>
                <div>
                    <!-- Original: https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/postgresql/postgresql-original-wordmark.svg -->
                    <img
                        alt="postgresql"
                        class="icons-skils"
                        src="/img/skills/postgresql.svg"
                    />
                    <h5>PostgreSQL</h5>
                </div>
                <div>
                    <!-- Original: https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mongodb/mongodb-plain-wordmark.svg -->
                    <img
                        alt="mongodb"
                        class="icons-skils"
                        src="/img/skills/mongodb.svg"
                    />
                    <h5>MongodDB</h5>
                </div>
            </div>

            <h4 data-i18n="tools">Herramientas</h4>
            <div class="skill">
                <div>
                    <!-- Original: https://cdn.jsdelivr.net/gh/devicons/devicon/icons/figma/figma-original.svg -->
                    <img
                        alt="figma"
                        class="icons-skils"
                        src="/img/skills/figma.svg"
                        title="figma"
                    />
                    <h5>Figma</h5>
                </div>
                <div>
                    <!-- Original: https://cdn.jsdelivr.net/gh/devicons/devicon/icons/photoshop/photoshop-plain.svg -->
                    <img
                        alt="photoshop"
                        class="icons-skils"
                        src="/img/skills/photoshop.svg"
                        title="Photoshop"
                    />
                    <h5>Photoshop</h5>
                </div>
                <div>
                    <!-- Original: https://raw.githubusercontent.com/devicons/devicon/master/icons/vscode/vscode-original.svg -->
                    <img
                        alt="Visual Studio Code"
                        class="icons-skils"
                        src="/img/skills/vscode.svg"
                        title="Visual Studio Code"
                    />
                    <h5>VS Code</h5>
                </div>
                <div>
                    <!-- Original: https://cdn.jsdelivr.net/gh/devicons/devicon/icons/git/git-original.svg -->
                    <img
                        alt="git"
                        class="icons-skils"
                        src="/img/skills/git.svg"
                        title="git"
                    />
                    <h5>Git</h5>
                </div>
            </div>
        </div>
    </div>
</section>
