---
import "../styles/Footer.css";
---

<footer class="footer">
    <section class="grupo-2">
        <small>&copy; {new Date().getFullYear()} <b>ANONIMO432HZ</b> - <span data-i18n="footer-info">Pagina creada por ANONIMO432HZ</span></small>
    </section>
</footer>
