---
import "../styles/Footer.css";
---

<footer class="footer">
    <div class="footer-container">
        <div class="footer-info">
            <p>&copy; {new Date().getFullYear()} <b>ANONIMO432HZ</b>. <span data-i18n="footer-info"></span></p>
        </div>
    </div>
</footer>
