---
import "../styles/Footer.css";
---

<footer class="footer">
    <div class="footer-container">
        <div class="footer-info">
            <p>Copyright &copy; {new Date().getFullYear()} <span data-i18n="footer-info"></span></p>
        </div>
    </div>
</footer>
