---
import "../styles/Footer.css";
---

<footer class="footer">
    <section class="grupo-2">
        <small>&copy; {new Date().getFullYear()} <b>Nahuel61920</b> - <span data-i18n="footer-info">Pagina creada por Nahuel61920</span></small>
    </section>
</footer>
