---
import "../../src/styles/ProjectPage.css";
---

<section class="proyectos" id="proyectos">
    <h2 class="heading" data-i18n="projects">Proyectos</h2>
    <div class="proyect-site" data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
        <!-- Swiper Container -->
        <div class="swiper proyectos-slider mySwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide caja">
                    <img src="/img/proyecto-app-18.png" alt="CoinPlus" />
                    <div class="content">
                        <h3>CoinPlus</h3>
                        <p>Trading platform for cryptocurrencies</p>
                        <p class="tecnologias">
                            React<span> -</span> CSS<span> -</span> Redux<span> -</span> Bootstrap<span> -</span> TypeScript<span> -</span> Solidity<span> -</span> NodeJS<span> -</span> MongoDB
                        </p>
                        <a href="https://coin-plus.vercel.app/" class="custom-btn btn" target="_blank" rel="noopener noreferrer"><span>Demo</span></a>
                        <a href="https://github.com/Nahuel61920/CoinPlus" class="custom-btn btn-codigo" target="_blank" rel="noopener noreferrer">Repository</a>
                    </div>
                </div>

                <div class="swiper-slide caja">
                    <img src="/img/proyecto-14.jpg" alt="Justice" />
                    <div class="content">
                        <h3>Justice</h3>
                        <p>lawyers website</p>
                        <p class="tecnologias">
                            HTML5<span> -</span> CSS<span> -</span> JavaScript<span> -</span> jQuery<span> -</span> Bootstrap
                        </p>
                        <a href="https://nahuel61920.github.io/Justice/" class="custom-btn btn" target="_blank" rel="noopener noreferrer"><span>Demo</span></a>
                        <a href="https://github.com/Nahuel61920/Justice" class="custom-btn btn-codigo" target="_blank" rel="noopener noreferrer">Repository</a>
                    </div>
                </div>

                <div class="swiper-slide caja">
                    <img src="/img/proyecto-app-17.png" alt="PI Dogs" />
                    <div class="content">
                        <h3>PI Dogs</h3>
                        <p>Individual Project</p>
                        <p class="tecnologias">
                            React<span> -</span> CSS<span> -</span> Redux<span> -</span> NodeJS<span> -</span> ExpressJS<span> -</span> Sequelize<span> -</span> PostgreSQL
                        </p>
                        <a href="https://pi-dogs-main-ashy.vercel.app/" class="custom-btn btn" target="_blank" rel="noopener noreferrer"><span>Demo</span></a>
                        <a href="https://github.com/Nahuel61920/PI-DOGS-MAIN" class="custom-btn btn-codigo" target="_blank" rel="noopener noreferrer">Repository</a>
                    </div>
                </div>

                <div class="swiper-slide caja">
                    <img src="/img/proyecto-7.jpg" alt="Power Engine" />
                    <div class="content">
                        <h3>Power Engine</h3>
                        <p>Automobiles Website</p>
                        <p class="tecnologias">
                            HTML5<span> -</span> CSS<span> -</span> JavaScript
                        </p>
                        <a href="https://nahuel61920.github.io/Power-Engine/" class="custom-btn btn" target="_blank" rel="noopener noreferrer"><span>Demo</span></a>
                        <a href="https://github.com/Nahuel61920/Power-Engine" class="custom-btn btn-codigo" target="_blank" rel="noopener noreferrer">Repository</a>
                    </div>
                </div>

                <div class="swiper-slide caja">
                    <img src="/img/proyecto-6.jpg" alt="Spider-Man fan page" />
                    <div class="content">
                        <h3>Spider-Man fan page</h3>
                        <p>Fan page Spider-Man</p>
                        <p class="tecnologias">
                            HTML5<span> -</span> CSS<span> -</span> JavaScript<span> -</span> Bootstrap
                        </p>
                        <a href="https://nahuel61920.github.io/Spider-Man/" class="custom-btn btn" target="_blank" rel="noopener noreferrer"><span>Demo</span></a>
                        <a href="https://github.com/Nahuel61920/Spider-Man" class="custom-btn btn-codigo" target="_blank" rel="noopener noreferrer">Repository</a>
                    </div>
                </div>

                <div class="swiper-slide caja">
                    <img src="/img/proyecto-12.jpg" alt="EveryRunning" />
                    <div class="content">
                        <h3>EveryRunnig</h3>
                        <p>Website shoes</p>
                        <p class="tecnologias">
                            HTML5<span> -</span> CSS<span> -</span> JavaScript<span> -</span> Bootstrap
                        </p>
                        <a href="https://nahuel61920.github.io/EveryRunning/" class="custom-btn btn" target="_blank" rel="noopener noreferrer"><span>Demo</span></a>
                        <a href="https://github.com/Nahuel61920/EveryRunning" class="custom-btn btn-codigo" target="_blank" rel="noopener noreferrer">Repository</a>
                    </div>
                </div>

                <div class="swiper-slide caja">
                    <img src="/img/proyecto-5.jpg" alt="Premier Food" />
                    <div class="content">
                        <h3>Premier Food</h3>
                        <p>Fast food</p>
                        <p class="tecnologias">
                            HTML5<span> -</span> CSS<span> -</span> JavaScript<span> -</span> Sass
                        </p>
                        <a href="https://nahuel61920.github.io/PremierFood/" class="custom-btn btn" target="_blank" rel="noopener noreferrer"><span>Demo</span></a>
                        <a href="https://github.com/Nahuel61920/PremierFood" class="custom-btn btn-codigo" target="_blank" rel="noopener noreferrer">Repository</a>
                    </div>
                </div>

                <div class="swiper-slide caja">
                    <img src="/img/proyecto-8.jpg" alt="ShopTec" />
                    <div class="content">
                        <h3>ShopTec</h3>
                        <p>Ecommerce</p>
                        <p class="tecnologias">
                            HTML5<span> -</span> CSS<span> -</span> Sass<span> -</span> JavaScript
                        </p>
                        <a href="https://nahuel61920.github.io/shop-tec/" class="custom-btn btn" target="_blank" rel="noopener noreferrer"><span>Demo</span></a>
                        <a href="https://github.com/Nahuel61920/shop-tec" class="custom-btn btn-codigo" target="_blank" rel="noopener noreferrer">Repository</a>
                    </div>
                </div>

                <div class="swiper-slide caja">
                    <img src="/img/proyecto-10.jpg" alt="Elegant Hand" />
                    <div class="content">
                        <h3>Elegant Hand</h3>
                        <p>Watch Shop</p>
                        <p class="tecnologias">
                            HTML5<span> -</span> CSS<span> -</span> JavaScript
                        </p>
                        <a href="https://nahuel61920.github.io/ElegantHand/ " class="custom-btn btn" target="_blank" rel="noopener noreferrer"><span>Demo</span></a>
                        <a href="https://github.com/Nahuel61920/ElegantHand" class="custom-btn btn-codigo" target="_blank" rel="noopener noreferrer">Repository</a>
                    </div>
                </div>

                <div class="swiper-slide caja">
                    <img src="/img/proyecto-9.jpg" alt="Vida en papel" />
                    <div class="content">
                        <h3>Vida en papel</h3>
                        <p>Bookstore</p>
                        <p class="tecnologias">
                            HTML5<span> -</span> CSS<span> -</span> JavaScript
                        </p>
                        <a href="https://nahuel61920.github.io/vida-en-papel/ " class="custom-btn btn" target="_blank" rel="noopener noreferrer"><span>Demo</span></a>
                        <a href="https://github.com/Nahuel61920/vida-en-papel" class="custom-btn btn-codigo" target="_blank" rel="noopener noreferrer">Repository</a>
                    </div>
                </div>

                <div class="swiper-slide caja">
                    <img src="/img/proyecto-11.jpg" alt="Plus Anime" />
                    <div class="content">
                        <h3>Plus Anime</h3>
                        <p>Anime website</p>
                        <p class="tecnologias">
                            HTML5<span> -</span> CSS<span> -</span> JavaScript
                        </p>
                        <a href="https://nahuel61920.github.io/PlusAnime/" class="custom-btn btn" target="_blank" rel="noopener noreferrer"><span>Demo</span></a>
                        <a href="https://github.com/Nahuel61920/PlusAnime" class="custom-btn btn-codigo" target="_blank" rel="noopener noreferrer">Repository</a>
                    </div>
                </div>
            </div>
            <!-- Pagination -->
            <div class="swiper-pagination"></div>
        </div>
    </div>
    
    <div class='portafolio-btn'>
        <a href="/project">
            <ButtonGet />
        </a>
    </div>
</section>

<script>
    // Initialize Swiper on Client DOMContentLoaded
    document.addEventListener('DOMContentLoaded', () => {
        // @ts-ignore
        if (typeof Swiper !== 'undefined') {
            // @ts-ignore
            new Swiper(".mySwiper", {
                spaceBetween: 30,
                loop: true,
                grabCursor: true,
                centeredSlides: true,
                autoplay: {
                    delay: 2500,
                    disableOnInteraction: false,
                },
                pagination: {
                    el: ".swiper-pagination",
                    clickable: true,
                },
                breakpoints: {
                    0: {
                        slidesPerView: 1,
                    },
                    768: {
                        slidesPerView: 2,
                    },
                    1024: {
                        slidesPerView: 3,
                    },
                },
            });
        }
    });
</script>
